data/videos/
data/processed/
data/*
src/searched_videos.csv
src/case_presentation_filter.json
searched_videos.csv
processed/
slides
data/*.jsonl
data/test_inputs/*.jsonl
training/data/*.jsonl
runs/
/judge/
outputs/
checkpoints/
logs/
cookies.txt
__pycache__/
*.pyc
.env
.env.*
.DS_Store
